{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game-Grader | {% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/BlueLogo.png' %}">
    <!-- tailwind css -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{% static 'css/app.css' %}" rel="stylesheet" type="text/css">
    {% block staticcss %}
    {% endblock staticcss %}
</head>

<body class="bg-slate-800 m-10">
    
    {% block content %}
    {% endblock content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
        integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        {% if messages %}
            {% for message in messages %}
            
            if ("{{message.tags}}" == "success"){
                    toastr.success("{{message}}");
                }
            else if ("{{message.tags}}" == "error"){
                toastr.error("{{message}}");
                }
            else if ("{{message.tags}}" == "info"){
                toastr.info("{{message}}");
            }
            {% endfor %}
        {% endif %}
    </script>
</body>

</html>